python-dotenv~=1.0.1
langchain~=0.3.26
streamlit~=1.43.2
langchain-community
langchain-huggingface
langchain-chroma
langchain-groq
unstructured
streamlit
python-dotenv
chromadb
transformers
sentence-transformers